	
<style>
  h2 {
    background-color: #189ad3;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 10px;
  }
  [type="file"]   {
    margin: 30px auto 30px 50%;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transform: translate(-50%);
  }
  button   {
    margin: 30px auto 30px 50%;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transform: translate(-50%);
  }
  [type="submit"]   {
    margin: 30px auto 30px 50%;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transform: translate(-50%);
  }
  .textArea {
    transform: translate(-25%);
    margin-left: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  textarea {
    height: 40px;
    /* display: inline-block; */
    width: 300px;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
</style >
<h2 >REMARKS SECTION</h2>
<section *ngIf=remarks.length>
  <div style="background-color: rgb(226,226,226);border: 5px solid #189ad3;">
    <form (ngSubmit)="submitRemark(form)" #form='ngForm' >
      <table id="customers">
        <tr>
          <th>S.No.</th>
          <th>Asset Name</th>
          <th>Compliance</th>
          <th>Remarks</th>
        </tr>
        <tr *ngFor="let remark of remarks; let i=index">
          <td>{{i+1}}</td>
          <td>{{remark.empAssetName}}</td>
          <td>
            <select [disabled]="remarksSubmitted" [value]="remark.isCompliant" (focusout)="complianceChange(i,$event)" >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
              <option value="Not Applicable">Not Applicable</option>
            </select>
          </td>
          <td>
            <textarea [disabled]="remarksSubmitted" [value]="remark.remarks" (change)="remarkChange(i,$event)"></textarea>
          </td>
        </tr>
      </table>
        <input [disabled]="remarksSubmitted" type="submit" value="Save Remarks" class="btn btn-success" style="margin-left: 50%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;">
      </form>
  </div>

</section>
