<!--<header>-->
<!--&lt;!&ndash;  <img class="img" src="assets/img/Capture.PNG">&ndash;&gt;-->
<!--  <h2 style="float: left; color: white;"> &nbsp;&nbsp;&nbsp; BeComply</h2>-->
<!--  &lt;!&ndash; <p style="float: right;">&#9660;</p> &ndash;&gt;-->
<!--  <h2 class="John" name="userName" value="userName">Welcome {{username}}</h2><br /><br /><br /><br />-->

<!--  <nav class="div1" style=" font-size: 80%; height: 40px;">-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="link1"><a href="#home">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="link1"><a href="#myapps">Applications</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="link1"><a href="#myapps">Security Risk&Compailance</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash; <button class="b1" style="float:right;  background-color: #34568B; color: white" (click)=" Logout()">Logout</button> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash; <li class="link2" style="float:right"><a href="#Help">Help</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="link2" style=" float: right"><a href="#Switch Role">Switch role</a></li> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--  </nav>-->
<!--  <a class="b1" style="float:right;  background-color: #34568B; color: white"  (click)="Logout()"><button>logout</button></a>-->
<!--</header>-->
<style>
  a {
    display: block;
    color: white;
  }
  h2 {
    display: block;
  }
  .logoutContainer {
    position: absolute;
    right: 0px;
    margin-right: 60px;
    margin-top: 15px;
  }

</style>
<header>
  <!-- <img class="img" src="assets/img/Capture.PNG"> -->
  <h1 style="float: left; color: white;font-size: xx-large,margin:0px;"> &nbsp;&nbsp;&nbsp; BeComply</h1>
  <div class="logoutContainer">
    <h2 style="margin:0px;" class="John" name="userName" value="userName">Welcome {{username}}</h2>
    <a href="javascript:void(0)" class="b1"
       (click)=" Logout()">Logout</a>

  </div>  

</header>
