ul {
  list-style-type: none;
  overflow: hidden;
}

nav link2 {
  float: right;
}

li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  float: left;
}

link1 {
  float: left;
  background-color: 34568B;
}


label1 {
  font-family: 'Comic Sans MS';
}




#customers {
  font-family: 'Comic Sans MS';
  border-collapse: collapse;
  width: 100%;
}

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #98B4D4;
    color: white;
  }




img {
  float: left;
  width: 170px;
  height: 60px;
}


h2 {
  float: right;
}

header {
  /* background-color: #C68E17; */
  font-family: 'Comic Sans MS';
  background-color: #34568B;
  color: white;
  height: fit-content;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  /* padding:5px 5px;*/
}

footer {
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  padding: 1px 1px 1px 1px;
  background-color: #34568B;
  color: white;
  size: 5px;
}

h2 {

  margin-right: 50px;
}