<head>
    <style>
        footer {
            position:absolute;
            top:200%;
            width:100%;
			text-align: center;
			padding: 1px 1px 1px 1px;
			background-color: #34568B;
			color: white;
			size: 5px;
		}


        </style>


</head>



<footer>
		
		<p> XXX Confidential </p>
		</footer>
