ul {
  list-style-type: none;
  overflow: hidden;
}

nav link2 {
  float: right;
}

li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  float: left;
}

link1 {
  float: left;
  background-color: 34568B;
}


label1{
  font-family:'Comic Sans MS';
}




#customers {
  font-family:'Comic Sans MS';
  border-collapse: collapse;
  width: 100%;
  background-color:#005073;
}

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;

  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

    color: white;
    background-color:#189ad3;
  }




  img {
    float: left;
    width: 170px;
    height: 60px;
  }


h2 {
  float:right;
}

header {
  /* background-color: #C68E17; */
  font-family:'Comic Sans MS';
 background-color:#005073;
  color:white;
  height: 130px;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  /* padding:5px 5px;*/
}
footer {
  position:absolute;
  top:200%;
  width:100%;
text-align: center;
padding: 1px 1px 1px 1px;
background-color: #34568B;
color: white;
size: 5px;
}

th {
  background-color:#005073;
}

.filterForm {
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
}

.filterForm > label {
 font-weight: bold;
}

select {
  margin: 0px 30px;
}

h2 {

  margin: 0px;
  margin-right: 50px;
}
button {

}
