

<style>
    [type="submit"]   {
       margin-left: 30px;
        background-color: #189ad3;color: white;border-radius: 10px;
        padding: 5px;
        font-weight: bold;
        transform: translate(-50%);
        padding: 5px 10px;
    }
</style>

<app-header></app-header>
<body style="background-color:white;">
    <br />
    <br />


    <div class="center">


        <form class="filterForm"  #filterForm="ngForm" (ngSubmit)="filterSubmit(filterForm)">
            <label><font face="Comic Sans MS">Certificate:</font></label>
            <select name="certificates" id="certificates" name="certificateName" [ngModel]="initialValue">
                <!-- <option selected hidden>Select certificate</option> -->
                <option value="-1">All</option>
                <option *ngFor="let certificateTask of certTask" value="{{certificateTask.certificationTaskId}}">{{certificateTask.certificationTaskName}}</option>
            </select>

            <input type="submit" value="Filter" /><br><br><br />
        </form>


    </div>
    <br>
    <div class="absolute1">
        <table id="customers" style="width: 80%;margin: auto;">

  <tr style="background-color: #34568B;">
                <th>TaskId</th>
                <th>TaskName</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Planned Start Date</th>
                <th>Due Date</th>
                <th>Certified on Date</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let req of citi | filter: filter">
                <td><span>{{req.taskId}}</span></td>
                <td>{{req.taskName}}</td>
                <td>{{req.startDate}}</td>
                <td>{{req.endDate}}</td>
                <td>{{req.PlannedStartDate}}</td>
                <td>{{req.dueDate}}</td>
                <td>{{req.certifiedOn}}</td>
                <td><a href="javascript:void(0)" (click)="next(req.taskId)">Certify</a></td>
                <td>{{req.status}}</td>
            </tr>
        </table>
    </div>
</body>
<div style="background-color:linen;">
        <footer>

            <p> XXX Confidential </p>
        </footer>
    </div>
