
<style>
  h2 {
    background-color: #189ad3;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 10px;

  }
  [type="submit"]   {
    margin: 30px 30px 20px 30px;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
  }

</style>
<h2 >PROCESS(S) SECTION</h2>
<div style="background-color: rgb(226,226,226);">
<form #processForm="ngForm" (ngSubmit)="submitProcess(processForm)" id="myform">
  <table >
    <tr  >
      <th>Process Area</th>
      <th>Process</th>
      <th>Compliance</th>
      <th>Risk Severity</th>
      <th>Remarks</th>
    </tr>
    <tr *ngFor="let empProcessArea of empProcessAreas; let i=index">
      <td>{{empProcessArea.processArea.name}}</td>
      <td>
      <tr class="process" *ngFor="let empProcess of empProcessArea.empProcesses; let j=index">
        <td>
          {{empProcess.process.name}}
        </td>
      </tr>
      </td>

      <td>
      <tr *ngFor="let empProcess of empProcessArea.empProcesses; let j=index">
        <td class="nonProcess">
          <select [disabled]="processSubmitted"  [value]="empProcess.isCompliant" (change)="compliantChange(i,j,$event)">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Not Applicable">Not Applicable</option>
          </select>
        </td>        
      </tr>
      </td>

      <td>
        <tr *ngFor="let empProcess of empProcessArea.empProcesses; let j=index">
          <td class="nonProcess">
            <select [disabled]="processSubmitted" [value]="empProcess.severity" (change)="severityChange(i,j,$event)">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </td>
        </tr>
      </td>

      <td>
        <tr *ngFor="let empProcess of empProcessArea.empProcesses; let j=index">
          <td class="nonProcess">
            <textarea [disabled]="processSubmitted" [value]="empProcess.remarks" (focusout)="remarksChange(i,j,$event)" ></textarea>
          </td>
        </tr>
      </td>
    </tr>
  </table>

  <input class="btn btn-success" style="margin-left: 45%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;" [disabled]="processSubmitted" type="submit" value="Save Process">
</form>
</div>