#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  

  

  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    background-color: #189ad3;
  }

table {

  border: 0px;
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
  border: 1px solid grey;
  /* border-collapse: collapse; */
}
th {
  padding: 10px;
  background-color: #189ad3;
  color: white;
}

.process>td, td {
  border: 1px solid grey;
  padding: 8px;
}

.nonProcess {
  border: 0px;
  padding: 15px;
}

/* th , td {
  padding: 8px;
} */