<!---- {
                  margin: auto;
                  width: 30%;
                  border: 3px solid #98B4D4;
                  padding: 10px;
                  font-family: Comic Sans MS;
              }


              .column-left1 {
                  float: left;
                  width: 25%;
                  padding: 5px;

              }
      ul {
          list-style-type: none;
          overflow: hidden;
      }

      .link2 {
          float: right;
      }

      li {
          float: left;
      }

      nav ul li a {
          display: block;
          color: white;
          text-align: center;
          padding: 5px 5px;
          text-decoration: none;
      }


      img {
          float: left;
      }


      footer {
      text-align: center;
      padding: 1px 1px 1px 1px;
      background-color: #34568B;
      color: white;
      size: 5px;
      }
      </style>
      </head>
<body>
<div class="column-left1">
    <p style="font-size: 150%; font-family: Comic Sans MS ; text-align : right;"><b>My Certification Tasks</b></p>
</div>
<br>
<!-- <div class="center">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form action>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="certificates">Certificate</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="certificates" id="certificates">
            <option value="All">All</option>
            <option value="Ip & E Certificate">Ip & E Certificate</option>
            <option value="Complaince Certificate">Compailance Certificate</option>
        </select> -->
<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<button (click)="func1()"> Apply </button>-->
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button> Apply </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button> Clear </button>
    </form>
>
</body>-->
