<!-- <app-header></app-header> -->
<!-- <div>
  <app-filter></app-filter>
</div>

<div>
  <app-clist></app-clist>
</div> -->
<!-- *ngIf=show -->

<style>
    td {
        font-weight: normal;

    }
    table {
        margin-left: 50%;
        transform: translate(-50%);

    }
    button {
        margin: 30px;background-color: #F98125;color: white;border-radius: 10px;
        padding: 5px;
    }
</style>

<!-- <div ngIf="showReporting==='Yes' "> -->
<div style="background-color: rgb(226, 226, 226);">

    <h2 style="background-color: #189ad3;color: white;margin: 0px;text-align: center;padding: 10px;">
        Reporting Certifiers Status </h2>
    <div style="border: 5px solid #189ad3;padding:30px;">
        <p style="padding: 15px;"><b>
                <span style="font-size: larger">{{certificationTaskName}} </span></b> </p>        <!--{{cert.name}}//cert obj(which is retrieved from that link--which is routed to this component-->
        <p style="display: inline-block;padding: 15px;"><b>Certifying to:</b>{{username}} </p>
        <p style="display: inline-block;margin-left: 400px;"><b>Business Unit: </b>{{businessUnitName}}</p>




        <p style="display: inline-block;margin-left: 400px;">
            <b>Compilance Period:</b> {{startDate}} to {{endDate}}
        </p>

        <div>
            <label>Search By Business Unit : </label>
               <select (change)="onBusinesssUnitNameSelected($event.target.value)">
                   <option value="All" selected=true>All</option>
                   <option *ngFor="let businessUnitName of businessUnitListOneLevelBelow" [value]="businessUnitName">{{businessUnitName}}</option>
               </select>
        </div>



        <div class="absolute3">
            <b>
                <table style="width: 80%;">
                    <tr id="first" style=" background-color: #189ad3;color: white">
                        <th *ngFor="let col of columns">
                            {{col}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </th>
                    </tr>
                    <tr id="second" *ngFor="let coo of coolandings | filter: searchCertifier">
                        <td>{{coo.businessUnitName}} </td>
                        <td>{{coo.certifierName}}</td>
                        <td>{{coo.dueDate}}</td>
                        <td>{{coo.certifiedOnDate}}</td>
                        <td>{{coo.compliant}}</td>
                        <td>{{coo.certificationStatus}}</td>
                        <td style="text-align: center;" *ngIf="coo.certificationStatus==='Certified'" ><Button style="background-color: white;color: black;" (click)="onCertificateView(coo.certificateId)">View</Button></td>
                    </tr>
                </table>
            </b>
            <div *ngIf="showClose==='Show'" >
            <a  style="margin-left: 50%;transform: translate(-50%);margin-top: 60px"
               href="http://localhost:4200/clist"><button ><b>Close</b></button></a>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

