table{
    border: 3px solid rgb(224, 219, 213);
    width: 100%;
    padding: 15px;
     
  }
  #first{
      background-color: rgb(245, 174, 59);
      font-size: 120%;
      border-collapse: collapse;
     
     /* border: 2px solid rgb(236, 13, 13);*/
  }
  #second{
      font-size: 120%;
  }
  td{
      padding: 15px;
  }
  .column-left {
      background-color: rgb(236, 175, 175);
          float: left;
           width: 25%;
           padding: 5px;
           
  }
  .column-right{
      background-color: rgb(223, 215, 215);
          float: right;
           width: 70%;
           padding: 15px;
           
           
  }
  
  #bt{
      color: rgb(223, 215, 215);
      background-color: rgb(49, 45, 45);
  }
  ul{
      list-style-type: none;
      overflow: hidden;
  }
  .link2{
      float: right;
  }
  li {
      float: left;
  }
  nav ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 5px 5px;
      text-decoration: none;
  }

 
  img{
      float: left;
  }
  header{
      background-color:#C68E17;

      margin: 0;
      padding:1px;
      overflow: hidden;
     /* padding:5px 5px;*/
          }
  .Process{
      float: left;
      margin-left: 10%;
  }
  .Remarks{
      text-align: center;
      margin-left: 32%;
  }
  .AddDoc{
      float: right;
      margin-right: 10%;
  }
  .Processestable{
      border: 3px solid rgb(20, 20, 19);
    width: 100%;
    padding: 15px;
  
  }
  textarea{
      overflow-y: scroll;
  }
  .lastbutton{
      background-color: black;
      color: blanchedalmond;
      font-size: 20px;
     
  }
  strong{
      text-align: center;
  }

  h2 {
      background-color: #189ad3;
      color: white;
      margin: 0px;
      text-align: center;
      padding: 10px;

  }
  body {
      background-color: white;
  }
  table {
      border: 5px solid #189ad3;
  }
