

<style>
    button {
        margin: 30px 30px 20px 30px;background-color: #189ad3;color: white;border-radius: 10px;
        padding: 5px;
    }
</style>
<app-header></app-header>

<body >
<h2><b>My Certification Tasks</b></h2>
  <table style="background-color: rgb(226, 226, 226);">
        <tr *ngIf="empCertTask"><td style="font-size: larger;" colspan="2"><b>{{empCertTask.certTask.name}}</b></td></tr>
        <tr colspan="2" *ngIf="certifier"> 
            <td><b>Certifier : </b>{{certifier.employeeName}}, ({{ empCertTask.employeeId}}), {{certifier.role}} </td>
            <td><b>Business Unit : </b>{{certifier.businessUnitName}}</td>
        </tr>
        <tr  *ngIf="reporter">
            <td><b>Certifying to : </b>{{reporter.nameOfReporter}}, {{reporter.reporterRole}}</td>
            <td><b>Business Unit : </b>{{reporter.parentBusinessUnitName}}</td>
        </tr>
        <tr  *ngIf="empCertTask">
            <td><b>Compliance Period :</b> {{empCertTask.certTask.startDate}} to {{empCertTask.certTask.endDate}}</td>
            <td><b>Planned Start Date : </b>{{empCertTask.certTask.plannedStartDate}}</td>
            <td><b>Compliance Due Date :</b> {{empCertTask.dueDate}}</td>
            <br>
        </tr>
        <tr *ngIf="empCertTask">
            <td colspan="2"><b>Status : </b>{{empCertTask.savedDetails.certificationStatus}}</td>
        </tr>
  </table>
<br><br>

  <div *ngIf="showReporting==='Yes'" >
    <app-view1-list></app-view1-list>
  </div>



<div style="background-color:white;">
<button  class="Process btn btn-primary" (click)="actProcess()" > <b>Process(s)</b></button>
     <button class="Remarks btn btn-primary" (click)="actRemarks()" ><b>Remarks</b></button>
   <button class="AddDoc btn btn-primary" (click)="actAdditional()"   ><b>Additional Documents</b></button>
  <section>
    <app-process *ngIf=proc [processSubmitted]="empCertTask.processSubmitted" [employeeId]="employeeId"  [empProcessAreas]="empCertTask.savedDetails.empProcessAreas"></app-process>
    <br />
    <!-- <div *ngIf=processSubmitted > -->
      <div *ngIf="empCertTask.savedDetails.remarks" >
      <app-remarks  *ngIf=rem [remarksSubmitted]="empCertTask.remarksSubmitted" [employeeId]="employeeId" [remarks]="empCertTask.savedDetails.remarks"></app-remarks>
    <!-- </div> -->
  </div>
    <br />
    <app-documents *ngIf=addi [additionalDocumentsSubmitted]="empCertTask.savedDetails.additionalDocumentsSubmitted"
                   [additionalDocuments]="empCertTask.savedDetails.additionalDocuments"
                   [employeeId]="employeeId"
                   [employeeCertificationTaskSavedDetailId]="employeeCertificationTaskSavedDetailId"></app-documents>
    <div *ngIf="popUpState">
        <app-preview ></app-preview>
    </div>
    
    <!--



*************************************************************************************************************
*************************************************************************************************************
********************* THE BELOW INPUT WITH NAME PREVIEW IS USED TO NAVIGATE TO THE NEXT PAGE ****************
*************************************************************************************************************
*************************************************************************************************************
   --> 

      <button name="preview" (click)="changePopUpState()"  style="padding-left: 3%;padding-right: 3%;margin-left: 50%;transform: translate(-50%);" value="Preview"><b>Preview</b></button>
    <!-- <input class="btn btn-warning" style="margin-left: 5%;margin-bottom: 10%;padding-left: 3%;padding-right: 3%;" type="button" *ngIf=visibility (click)="myFunction()" value="Cancel"> -->
  </section>
</div>
</body>

