    
          .center {
                  margin: auto;
                  width: 30%;
                  border: 3px solid #98B4D4;
                  padding: 10px;
                  font-family: Comic Sans MS;
              }
      
      
              .column-left1 {
                  float: left;
                  width: 25%;
                  padding: 5px;
      
              }
      ul {
          list-style-type: none;
          overflow: hidden;
      }
      
      .link2 {
          float: right;
      }
      
      li {
          float: left;
      }
      
      nav ul li a {
          display: block;
          color: white;
          text-align: center;
          padding: 5px 5px;
          text-decoration: none;
      }
      
      
      img {
          float: left;
      }
      
      
      footer {
      text-align: center;
      padding: 1px 1px 1px 1px;
      background-color: #34568B;
      color: white;
      size: 5px;
      }

      .search {
        position: absolute;
        top: 38%;
        right: 30px;
        left: 40%;
        border: 1px solid #98B4D4;
        border-radius: 5px;
        height: 7px;
        width: 17%;
        padding: 13px 3px 35px 10px;
        outline: 7px;
        background-color: #f5f5f5;
      }    
    

      .absolute1 {
        position: absolute;
        top: 56%;
        right: 30px;
        left: 10%;
        width: 75%;
        height: 500px;
    }
    .absolute1 table td {
        padding: 5px;
    }
    .absolute3 table tr:nth-child(odd) {
        /*background-color: #98B4D4*/
    }
    
    .absolute1 table tr:nth-child(odd) {
        /*background-color: #98B4D4*/
    }
    .absolute3 table thead tr {
        display: block;
    }
    
    .absolute3 table th{
        height: 20px;
        width: 200px; 
    }
    .absolute3 table td {
        width: 240px;
    }
    
    .absolute3 table tbody {
        display: block;
        height: 260px;
        overflow: auto; 
    }
    
    
    .absolute3 table tr:nth-child(odd) {
        /*background-color: #98B4D4*/
    }
    table {
        border: 3px solid rgb(224, 219, 213);
        width: 100%;
        padding: 5px;
        font-size: 12px;
        font-family: Comic Sans MS;
    
    }
    #first {
                background-color: #98B4D4;
                font-size: 130%;
                border-collapse: collapse;
                height: 70%;
    
                /* border: 2px solid rgb(236, 13, 13);*/
            }
    
            #second {
                font-size: 120%;
            }


          h2 {
              background-color: #189ad3;
              color: white;
              margin: 0px;
              text-align: center;
              padding: 10px;
              width: 100%;


          }
          body {
              background-color: white;
          }
          table {
              border: 5px solid #189ad3;
          }
