

<style>
    button {
        margin: 30px 30px 20px 30px;background-color: #189ad3;color: white;border-radius: 10px;
        padding: 5px;
    }
    h4 {
        display: inline-block;
        margin: 30%;

    }
    input {
        display: inline-block;
        height: 20px;
        width: 30%;

    }
    .lab {
        display: inline-block;
        font-size: large;
        font-weight: bold;
        margin-right: 40px;
    }
    .searchContainer {
        margin-left: 50%;
        transform: translate(-25%);
        margin-top: 60px;
        margin-bottom: 30px;

    }

    table {
        margin-bottom: 50px;
        border: 0px;
        width: 75%;
        margin-left: 50%;
        transform: translate(-50%);

    }
    td {
        text-align: center;
    }
    th {
        color: white;
        font-weight: bold;
        font-size: large;
        background-color: #189ad3;

    }

</style>
<app-header></app-header>

<div style="border: 5px solid #189ad3;">
    <h2>My Certification Tasks</h2>
    <div class="searchContainer">
        <div class="lab" >
            Search Task Name:
        </div>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchTask" autocomplete="off" placeholder="Search">
    </div>

    <body style="background-color:white;">






    <table>
        <tr id="first">
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
        <tr id="second" *ngFor="let certificate1 of filteredCertificates | filter:searchTask">
            <td>{{certificate1.taskName}}</td>
            <td>{{certificate1.startDate}} to {{certificate1.endDate}} </td>
            <td style="text-align: center;"><button (click)="onViewClick(certificate1.taskName,certificate1.startDate,certificate1.endDate)">
                View Status
            </button></td>
            <!-- <td><a routerLink="/view13"> View</a></td> -->
        </tr>

    </table>



    <div *ngIf="cooo">
        <app-view1-list></app-view1-list>
    </div>
    <!-- <div *ngIf=showView>
      <app-view1-list></app-view1-list>
    </div> -->
    </body>

</div>

