<div class="split left">
  <font color="limegreen" size="5">Be<font color="blue">comply</font></font>
   <div class="centered">
     <div class="container">
       <div class="l">
        <font color="black" size="6"><b>Login</b></font>
       </div><br><br>
       <form (submit)="loginUser()">
     <label for="uname"><b>Username</b></label>
     <input type="text" placeholder="Enter Username" name="employeeId" [(ngModel)]="user.employeeId"required>
 
     <label for="psw"><b>Password</b></label>
     <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password" required>
         
     <button type="submit">Login</button>
    </form>
    <div *ngIf="isLoginError" class="red-text center error-message">
      <h1 text-align="center"><font color="red" size="4">INCORRECT USERNAME OR PASSWORD</font></h1>
    </div>
   </div>
   </div>
 </div>
 <div class="split right">
   <div class="centered">
     <img src="assets/img/C2.JPG">
    
   </div>
 </div>
 <!-- <div *ngIf="isLoginError" class="red-text center error-message">
  <h1 text-align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INCORRECT USERNAME OR PASSWORD</h1>
</div> -->

<div *ngIf="isCOO" class="red-text center error-message">
  <h1 text-align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;redirect to Team 4</h1>
</div>


<!-- <div class="simpleLogin">
  <form (submit)="loginUser()">

    <fieldset>
      <img class="center" src="assets/img/Capture.PNG" />
     <h2>UserId <input id="name" placeholder="Username" type="text" name="employeeId" [(ngModel)]="user.employeeId"></h2><br /><br />
     <h2>Password <input id="pass" placeholder="Password" type="password" name="password" [(ngModel)]="user.password"></h2><br /><br />
      <input id="submit" type="submit" value="Log in">
    </fieldset>
  </form>
</div>

<div *ngIf="isLoginError" class="red-text center error-message">
  <h1 text-align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INCORRECT USERNAME OR PASSWORD</h1>
</div>

<div *ngIf="isCOO" class="red-text center error-message">
  <h1 text-align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;redirect to Team 4</h1>
</div> -->
