<button (click)="Logout()">Logout</button>



<div class="center">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="certificates">Certificate:</label>
      <select name="certificates" id="certificates">
        <option value="All">All</option>
        <option value="Ip & E Certificate">Ip & E Certificate</option>
        <option value="Complaince Certificate">Compailance Certificate</option>
      </select>
      <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" value="Apply">
      <input type="button" value="Clear Filter">
    </form>

   
  </div>
  <br>
  <div class="absolute1">
    <table border="1" align="center" width="800" class="table">
      <tr>
      <th>Task</th>
      <th>Compliance</th>
      <th>Planned start date</th>
      <th>Due date</th>
      <th>Certificate on date</th>
      <th>Action</th>
      <th>Status</th>
      </tr>
      <tr>
        <td></td>
        <td> </td>
        <td></td>
        <td></td>
        <td></td>
        <td><a (click)="next()">certify</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td> </td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="#"></a></td>
        <td></td>
      </tr>
    </table>
  </div>
