table {
  border: 3px solid rgb(224, 219, 213);
  width: 100%;
  padding: 5px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#first {
  background-color: #C1CC89;
  font-size: 130%;
  border-collapse: collapse;
  height: 70%;
  /* border: 2px solid rgb(236, 13, 13);*/
}

#second {
  font-size: 120%;
}

.absolute3 table thead tr {
  display: block;
}

.absolute3 table th {
  height: 20px;
  width: 200px;
}

.absolute3 table td {
  width: 240px;
}

.absolute3 table tbody {
  display: block;
  height: 260px;
  overflow: auto;
}


.absolute3 table tr:nth-child(odd) {
  background-color: #C1CC89
}

.absolute1 table tr:nth-child(odd) {
  background-color: #C1CC89
}

.absolute1 table td {
  padding: 5px;
}

.column-left {
  background-color: rgb(236, 175, 175);
  float: left;
  width: 25%;
  padding: 5px;
}

.column-left1 {
  float: left;
  width: 25%;
  padding: 5px;
}

.column-right {
  background-color: rgb(223, 215, 215);
  float: right;
  width: 70%;
  padding: 15px;
}

.center {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
}

.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}

.absolute {
  position: absolute;
  top: 600px;
  right: 30px;
  left: 30px;
  width: 1000px;
  height: 500px;
  border: 3px solid #73AD21;
}

.absolute5 {
  position: absolute;
  top: 480px;
  right: 1%;
  left: 1%;
  width: 98%;
  height: 540px;
  border: 3px solid #73AD21;
}

.absolute1 {
  position: absolute;
  top: 56%;
  right: 30px;
  left: 15%;
  width: 75%;
  height: 500px;
}

.absolute2 {
  position: absolute;
  font-size: 13px;
  top: 150px;
  left: 75%;
  width: 20%;
  height: 300px;
  border: 3px solid #73AD21
}

.absolute3 {
  position: absolute;
  top: 200px;
  height: 300px;
  right: 1%;
  left: 1%;
  width: 98%;
}



#bt {
  color: rgb(223, 215, 215);
  background-color: rgb(49, 45, 45);
}

ul {
  list-style-type: none;
  overflow: hidden;
}

.link2 {
  float: right;
}

li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}


img {
  float: left;
  width: 100px;
}

header {
  /*background-color: #C68E17;*/
  background-color: #C1CC89;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  /* padding:5px 5px;*/
}
