<!--
<p style="text-align: center; width: 100%; background-color: #2766cc; color:white;">ADDITIONAL DOCUMENTS SECTION</p>
<div>
  <form (ngSubmit)="submitProcessForm(processForm)" method="post" #processForm="ngForm"  id="myform" enctype="multipart/form-data">
  <table id="customers" > 
     <tr>
      <th>File Name</th>
      <th>Description</th>
       <th>Status</th>
      <th>Action(s)</th> 
    </tr> 
    <tr>

    
     <tr *ngFor="let doc of additionalDocuments">
      <td>{{doc.id}}</td>
      <td>{{doc.description}}</td>
      <td *ngIf="doc.status">{{doc.status}}</td>
      <td >
        <i *ngIf="doc.status === 'uploaded'">Delete</i>
      </td>
    </tr> 
  
       <td>
        <input type="file" name="file" (change)="submit($event.target.files)" ngModel><br>
        <br>
        <div style="border: 2px solid red;"><p >Supported File types: <strong>"pdf,"doc","docx","txt","xls","xlsx","jpeg","png","pdf"</strong></p>
        <p> File size less than <strong>20 MB </strong></p></div>
      </td>
      
      <td>
        <label for="text">Add description </label>
        &nbsp;
        <textarea name="description" id="text" cols="20" rows="3" value="description" ngModel></textarea>
      </td>
      <br>
      
      <td>
        <input type="number" name="employeeCertificationTaskSavedDetailId" value="58" hidden>
      </td>
      <td>
        <input type="text" name="employeeId" value="1100111" hidden>
      </td>
    </tr>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <input class="btn btn-success" type="submit" style="margin-left: 45%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;" value="save" >
  </table> 
  </form>


  <table id="customers" >
    <tr>
      <th>File Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action(s)</th> 
    </tr>
    

    
    <tr *ngFor="let doc of additionalDocuments">
      <td>{{doc.id}}</td>
      <td>{{doc.description}}</td>
      <td *ngIf="doc.status">{{doc.status}}</td>
      <td >
        <i *ngIf="doc.status === 'uploaded'">Delete</i>
      </td>
    </tr></table>
</div>

-->
<style>
  h2 {
    background-color: #189ad3;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 10px;

  }

  [type="file"]   {
    margin: 30px auto 30px 50%;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transform: translate(-50%);
  }

  button   {
    margin: 30px auto 30px 50%;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transform: translate(-50%);
  }

  [type="submit"]   {
    margin: 30px auto 30px 50%;background-color: #189ad3;color: white;border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transform: translate(-50%);
  }
  .textArea {
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 30px;
    width: 25%;

  }

  textarea {
    height: 40px;
    /* display: inline-block; */
    width: 100%;
  }
  label {
    display: block;
    margin-bottom: 10px;
    /*margin-left: 50%;*/
    /*transform: translate(-25%);*/
  }

</style >
<div style="background-color: rgb(226,226,226);border: 5px solid #189ad3;">
  <h2 >ADDITIONAL DOCUMENTS SECTION</h2>

  <form (ngSubmit)="additionalDocumentSubmit(form)" #form="ngForm">




    <input [disabled]="additionalDocumentsSubmitted" type="file" name="file" (change)="documentChange($event.target.files[0])" ngModel><br>

    <div style="border: 2px solid red;display: block;width: fit-content;margin-left: 50%;
     transform: translate(-50%);font-size: small;">
      <p>Supported File types: <strong>"pdf,"doc","docx","txt","xls","xlsx","jpeg","png","pdf"</strong></p>
      <p> File size less than <strong>20 MB </strong></p>



    </div>

    <div class="textArea">
      <label for="text">Add description : </label>
      <textarea [disabled]="additionalDocumentsSubmitted" name="description" id="text" cols="20" rows="3"
                value="description" (focusout)="descriptionChange($event.target.value)" ngModel></textarea>
    </div>
    <input [disabled]="additionalDocumentsSubmitted" class="btn btn-success"
           type="submit" style="margin-left: 50%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;" type="submit" value="Submit Document">
  </form>

  <table id="customers">
    <tr>
      <th>File Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action(s)</th>
    </tr>

    <tr  *ngFor="let additional of additionalDocuments; let i=index">
      <td>{{additional.fileName}}</td>
      <td>{{additional.description}}</td>
      <td *ngIf="additional.id">Uploaded</td>
      <td>
        <button style="background-color: white;color: black;" *ngIf="additional.id" (click)="onRemoveClick(i,$event)" [disabled]="additionalDocumentsSubmitted">Remove</button>
      </td>
    </tr>
  </table>
  <button (click)="confirmDocuments()" [disabled]="additionalDocumentsSubmitted">Confirm Documents</button>
</div>
