<style>
  button   {
      margin-left: 50%;
      background-color: #189ad3;color: white;border-radius: 10px;
      padding: 5px;
      font-weight: bold;
      transform: translate(-50%);
      padding: 5px 10px;
  }

  table {
      margin-bottom: 30px;
      margin-left: 50%;
      transform: translate(-50%);
      text-align: center;
      border: 1px solid grey;
  }
  
  .process>td, td {
    border: 1px solid grey;
    padding: 8px;
  }

  .nonProcess {
    border: 0px;
    padding: 15px;
  }

  a {
    margin-left: 10px;
  }
</style>

 <div class="overlay" *ngIf=popup>
  <div class="popup">
    <h4 id="header">Certificate Preview</h4>
     <a class="close" (click)="popup = false">&times;</a>
     <div class="content">
<hr> 
<div *ngIf="Response" id="contentToConvert">

<h3 id="certificatetitle">{{Response.empCertTask.certTask.name}}</h3> 
<h4 id="complianceperiod">Compliance Period : {{Response.empCertTask.certTask.startDate}} to {{Response.empCertTask.certTask.endDate}} </h4>
<h4 id="date">Date : {{today | date:'longDate'}}</h4>


<div class="reporter">
To,<br>
{{Response.reporter.nameOfReporter}}<br>
Business Unit : {{Response.reporter.parentBusinessUnitName}}

</div>

<div class="certifier">
Certifier Name : {{Response.certifier.employeeName}} <br>
Business Unit : {{Response.certifier.businessUnitName}}
</div>

<div>
<b>Compliance Responsibility Area: </b>
<ul id="liststyle">
<li>Company : {{Response.certifier.employeeCompany}} </li>
<li>Geography : {{Response.certifier.employeeGeography}} </li>
<li>Function(s) : {{Response.certifier.employeeFunction}}</li>
</ul>
</div>

<table id="users" >
<caption><b>Process(s)</b></caption>
<th>Process Area</th>
<th>Process(s)</th>
<th>Compliance</th>
<th>Risk Severity</th>
<th>Remarks</th>

<tr *ngFor="let processarea of Response.empCertTask.savedDetails.empProcessAreas">
   <td >
       {{processarea.processArea.name}}
   </td>
<td> 
   <tr class="process" *ngFor="let process of processarea.empProcesses">
      <td>
       {{process.process.name}}
      </td>
   </tr>
</td> 
<td>
 <tr class="nonProcess" *ngFor="let process of processarea.empProcesses">
  <td>
   {{process.isCompliant}}
  </td>
 </tr>
</td> 
<td>
 <tr class="nonProcess" *ngFor="let process of processarea.empProcesses">
  <td>
    {{process.severity}}
  </td>
 </tr>
</td> 
<td>
 <tr class="nonProcess" *ngFor="let process of processarea.empProcesses">
  <td>
   {{process.remarks}}
   </td>
 </tr>
</td>
</tr>

</table>

<table id="users" >
<caption><b>Remarks</b></caption>
<th>S.No</th>
<th>Asset Name</th>
<th>Compliance</th>
<th>Remarks</th>

<tr *ngFor="let remark of Response.empCertTask.savedDetails.remarks; let i=index">
 <td>i</td>
   <td >
       {{remark.empAssetName}}
   </td>
<td>
 {{remark.isCompliant}}
</td>
<td>
   {{remark.remarks}}
</td>
</tr>
</table>

<table id="users" >
<caption><b>Additional Documents</b></caption>
<th>Document(s) </th>
<th>Description</th>

<tr *ngFor="let ad of Response.empCertTask.savedDetails.additionalDocuments">
   <td >
       {{ad.fileName}}
   </td>
   <td>
     {{ad.description}}
   </td>
</tr>
</table>

<div>
<p>
I hereby affirm compliance with all processes pertaining to the compliance responsibility area and compliance period given above, by
relying on the compliance certifcates submitted to me by the respective SP Heads across all the geographies they operate in.
</p>
{{Response.certifier.employeeName}} <br>
{{ Response.certifier.role}} 
</div>
<br>
Signature:
<app-digital></app-digital>
</div>
<div >
<a href="javascript:void(0)" (click)="convetToPDF()" id="pdflink" ><i class="fas fa-file-pdf" id="icon" ></i>Download Certificate</a>

<div class="buttonstyle">
  <button [disabled]="Response.empCertTask.savedDetails.certificate || response " (click)="submitProcessForm()" >Submit</button>
</div>
<div class="buttonstyle">
  <button (click)="popup = false">Close</button>
</div>
 

</div>
</div>
</div>


